body {
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

h1 {
  font-size: 500%;
  margin: 0;
  color: #E90064;
  font-family: cursive;
  margin-bottom: 16px;
}

img{
  width: 100%;
}

table{
  width: 75%;
}

p{
  font-size: 1.5em;
  width: 50%;
  text-align: center;
  position: relative;
  left: 25%;
}

a{
  font-size: 150%;
}

.btn {
  background: #eeaeca;
  background-image: -webkit-linear-gradient(top, #eeaeca, #94bbe9);
  background-image: -moz-linear-gradient(top, #eeaeca, #94bbe9);
  background-image: -ms-linear-gradient(top, #eeaeca, #94bbe9);
  background-image: -o-linear-gradient(top, #eeaeca, #94bbe9);
  background-image: linear-gradient(to bottom, #eeaeca, #94bbe9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 3px 3px 3px #eeaeca;
  -webkit-box-shadow: 3px 3px 3px #96bdff;
  -moz-box-shadow: 3px 3px 3px #96bdff;
  box-shadow: 3px 3px 3px #96bdff;
  font-family: Arial;
  color: #ffffff;
  font-size: 23px;
  padding: 10px 20px 10px 20px;
  border: solid #eeaeca 1px;
  text-decoration: none;
}

.btn:hover {
  background: #94bbe9;
  background-image: -webkit-linear-gradient(top, #94bbe9, #eeaeca);
  background-image: -moz-linear-gradient(top, #94bbe9, #eeaeca);
  background-image: -ms-linear-gradient(top, #94bbe9, #eeaeca);
  background-image: -o-linear-gradient(top, #94bbe9, #eeaeca);
  background-image: linear-gradient(to bottom, #94bbe9, #eeaeca);
  text-decoration: none;
}
